[submodule "2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework"]
	path = 2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework
	url = git@github.com:whosubashsubedii/Cybersecurity-Fundamentals-Coursework.git
