[submodule "2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework"]
	path = 2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework
	url = git@github.com:whosubashsubedii/Cybersecurity-Fundamentals-Coursework.git
[submodule "2nd Semistar/Fundamentals of Computing/Fundamentals of Computing  CourseWork/Fundamentals-of-Computing-Coursework"]
	path = 2nd Semistar/Fundamentals of Computing/Fundamentals of Computing  CourseWork/Fundamentals-of-Computing-Coursework
	url = git@github.com:whosubashsubedii/Fundamentals-of-Computing-Coursework.git
[submodule "2nd Semistar/Programming/Programming  CourseWork/Java-Programming-Coursework"]
	path = 2nd Semistar/Programming/Programming  CourseWork/Java-Programming-Coursework
	url = git@github.com:whosubashsubedii/Java-Programming-Coursework.git
[submodule "2nd Semistar/Programming/Programming  CourseWork/10-Independent-Java-Learning-Coursework"]
	path = 2nd Semistar/Programming/Programming  CourseWork/10-Independent-Java-Learning-Coursework
	url = git@github.com:whosubashsubedii/10-Independent-Java-Learning-Coursework.git
