[submodule "2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework"]
	path = 2nd Semistar/Cyber Security Fundamentals/CSF Coursework/Cybersecurity-Fundamentals-Coursework
	url = git@github.com:whosubashsubedii/Cybersecurity-Fundamentals-Coursework.git
[submodule "2nd Semistar/Fundamentals of Computing/Fundamentals of Computing  CourseWork/Fundamentals-of-Computing-Coursework"]
	path = 2nd Semistar/Fundamentals of Computing/Fundamentals of Computing  CourseWork/Fundamentals-of-Computing-Coursework
	url = git@github.com:whosubashsubedii/Fundamentals-of-Computing-Coursework.git
