body{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
  }
  
  nav a:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
    scale: 0.9;
}


h1{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.python-image{
    border: 10px;
    border-style: solid;
}

table{
    text-align: center;
    text-transform: capitalize;
    text-size-adjust: left;
    font-family: 'Courier New', Courier, monospace;
}

img:hover{
    transition: 0.5s ease-in-out;
    scale: 0.9;
    border-radius: 300px;
}